body {
    margin: 0;
    padding: 0;
    background-color: #002e1b;
    overflow-x: hidden;
}

/* utilitites */
.cream {
    background-color: #e2d9ca;
}

.darkgreen {
    background-color: #002e1b;
}

/* Navagation*/
#nav-logo-img {
    width: 50px;
}

/* Hero */
.hero {
    border-radius: 5px;
    border-color: #001603;
    height: 80vh;


}

.hero-image {
    display: flex;
    justify-content: center;

}

.hero-image img {
    width: auto;
    height: 70vh;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .hero-image img {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
    }
}

.c-item {
    height: 50vw;
    height: 40vh;
}

.c-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}