body {
    background-image: url(/assets/images/365165371_17997623261471397_4776363333341193190_n.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #002e1b;
    perspective: 1px;
    transform-style: preserve-3d;
    width: 100%;
    z-index: 0
}

/* Navagation*/
#nav-logo-img {
    width: 50px;
}


.midgreen-color {
    background-color: #002315;
}

/* Hero*/
#hero {
    height: 115vh;
    width: 100vw;
    border: 0;
    margin: 0;
    background-image: url(/assets/images/404312327_18000528872471397_2757856811047891466_n.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1,
h2,
h3 {
    color: white;
    text-align: center;
}

/* About me*/
#aboutme {
    height: 110vh;
    background-image: url(/assets/images/websitebackground2.png );

    background-size: cover;

    transform: translateY(-40vh);
    display: flex;
    position: relative;
    align-items: center;
    color: white;
    z-index: 1;
}

.aboutme-content {
    margin-top: 10%;
}

.review-content {
    padding-top: 10%;
}

.review {
    width: 200px;
    height: 200px;
    background-color: #6e791a;
    font-size: x-small;

}

/* .bottombackground {
    position: relative;
    height: 100vh;
    background-image: url(/assets/images/365165371_17997623261471397_4776363333341193190_n.jpg);
    background-position: bottom;
    background-size: contain;

    transform: translateY(50vh);
    z-index: -1;
} */

.row>* {
    width: fit-content;
}

.reviewimg {
    width: 90px;
    border-radius: 100%;
    transform: translatex(40px);
    margin-bottom: 1rem;
}

/* Content*/
.content-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.coffee-section {
    margin-top: 30%;
    background-image: url(/assets/images/ThePlantCollection_Insta-02.jpg);
    background-size: cover;

}

.plants-section {
    background-image: url(/assets/images/ThePlantCollection_Insta-07.jpg);
    background-size: cover;

}

.art-section {
    background-image: url(/assets/images/ThePlantCollection_Insta-12.jpg);
    background-size: cover;

}